.mw-widget-dateInputWidget-handle {
    background-color: @bg-panel;
    color: @text-base;
    box-sizing: border-box;
    width: 100%;
    border: 1px solid @accent-alt;
    border-radius: 2px;
    padding: 6px 8px;
    line-height: 1.28571429em;
}